html {
    background-color: black;
}

#app{
    background-color: black;
    border-style: solid;
    border-color: blue;
    border-width: thick;
}

.search-result-list{
    border-style: solid;
    border-color: red;
    border-width: thick;
    background-color: #ff5566;
}

.search-result{
    padding:5%;
}
